.trainName {
    width: 20em;
    font-size: 1.3em;
    color: hsl(39, 94%, 50%);
    font-family: retrofont;
}

.toStation {
    width: 20em;
    font-size: 1.3em;
    color: hsl(39, 94%, 50%);
    font-family: retrofont;
}

.departs {
    width: 20em;
    font-size: 1.3em;
    color: hsl(39, 94%, 50%);
    font-family: retrofont;
}

.status {
    width: 20em;
    font-size: 1.3em;
    color: hsl(39, 94%, 50%);
    font-family: retrofont;
}

.mat-expansion-panel-header {
    background-color: rgba(6, 1, 20, 0.986);
}