.trainNamePicker {
    font-size: 1.3em;
    color: hsl(39, 94%, 50%);
    font-family: retrofont;
}

.header {
    width: 100%;
    text-align: center;
    margin-top: 1%;
}

.trainName {
    width: 20em;
    font-size: 1.3em;
    color: hsl(39, 94%, 50%);
    font-family: retrofont;
}

.fromStation {
    width: 15em;
    font-size: 1.3em;
    color: hsl(39, 94%, 50%);
    font-family: retrofont;
}

.schedule {
    width: 10em;
    font-size: 1.3em;
    color: hsl(39, 94%, 50%);
    font-family: retrofont;
    text-align: center;
}

.toStation {
    width: 15em;
    font-size: 1.3em;
    color: hsl(39, 94%, 50%);
    font-family: retrofont;
}

.arrives {
    width: 20em;
    font-size: 1.3em;
    color: hsl(39, 94%, 50%);
    font-family: retrofont;
}

.atStation {
    width: 20em;
    font-size: 1.3em;
    color: hsl(39, 94%, 50%);
    font-family: retrofont;
}

.status {
    width: 20em;
    font-size: 1.3em;
    color: hsl(39, 94%, 50%);
    font-family: retrofont;
}

.mat-expansion-panel-header {
    background-color: rgba(6, 1, 20, 0.986);
}

.drop-down {
    width: 48%;
    margin-top: 1%;
    margin-right: 1%;
}
