<div class="header">
  <h4 class="trainNamePicker">Train</h4>
  <mat-form-field appearance="fill">
    <mat-label>Train Name</mat-label>
    <mat-select [(ngModel)]="trainId">
      <mat-option *ngFor="let train of trains" [value]="train.trainId" (click)="trainChanged(train.trainId)">
        {{train.trainName}}
      </mat-option>
    </mat-select>
  </mat-form-field>
</div>

<mat-accordion>
  <mat-expansion-panel disabled>
    <mat-expansion-panel-header>
      <mat-panel-title class="board-header">
        <span class="fromStation">From</span>
        <span class="toStation">To</span>
        <span class="arrives">Arrives</span>
        <span class="atStation">Now at</span>
        <span class="status">Status</span>
      </mat-panel-title>
    </mat-expansion-panel-header>
  </mat-expansion-panel>
  <mat-expansion-panel *ngFor="let schedule of schedules">
    <mat-expansion-panel-header>
      <mat-panel-title>
        <span class="fromStation"><span *ngIf="schedule.fromStation">{{schedule.fromStation |
            uppercase}}</span></span>
        <span class="toStation"><span *ngIf="schedule.toStation">{{schedule.toStation |
            uppercase}}</span></span>
        <span class="arrives"><span *ngIf="schedule.eta">{{schedule.eta | date:
            "MMM d
            yyyy, h:mm a"}}
          </span></span><span class="atStation"><span
            *ngIf="schedule.atStation">{{schedule.atStation.stationName}}</span><span
            *ngIf="!schedule.atStation">-</span></span>
        <span class="status">{{schedule.status}}</span>
      </mat-panel-title>
    </mat-expansion-panel-header>
      <mat-form-field appearance="fill" class="drop-down">
        <mat-label>Now at:</mat-label>
        <mat-select>
          <mat-option *ngFor="let station of schedule.stations" [value]="station.stationName"
            (click)="stationChanged(schedule.scheduleId, station)">
            {{station.stationName}}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field appearance="fill" class="drop-down">
        <mat-label>Status</mat-label>
        <mat-select [(ngModel)]="status">
          <mat-option *ngFor="let status of schedule.statuses" [value]="status"
            (click)="statusChanged(schedule.scheduleId, status)">
            {{status}}
          </mat-option>
        </mat-select>
      </mat-form-field>
  </mat-expansion-panel>
</mat-accordion>