<mat-accordion>
    <mat-expansion-panel disabled>
        <mat-expansion-panel-header>
            <mat-panel-title class="board-header">
                <span class="trainName">Train No.</span>
                <span class="trainName">Train Name</span>
            </mat-panel-title>
        </mat-expansion-panel-header>
    </mat-expansion-panel>
    <mat-expansion-panel *ngFor="let train of trains">
        <mat-expansion-panel-header>
            <mat-panel-title>
                <span class="trainName"><span *ngIf="train.trainId">{{train.trainId}}</span></span>
                <span class="trainName">{{train.trainName | uppercase}}</span>
            </mat-panel-title>
        </mat-expansion-panel-header>
        <mat-form-field>
            <mat-label>Train Name</mat-label>
            <input matInput [(ngModel)]="train.trainName" required>
        </mat-form-field><br>
        <div class="right-aligned">
            <button class="fabs" mat-mini-fab aria-label="Save Train" (click)="saveTrain(train)">
                <mat-icon>save</mat-icon>
            </button>
        </div>
        <div class="right-aligned">
            <button class="fabs" mat-mini-fab aria-label="Delete Train" (click)="removeTrain(train.trainId)">
                <mat-icon>delete</mat-icon>
            </button>
        </div>
    </mat-expansion-panel>
    <div class="right-aligned">
        <button mat-fab class="fabs top-margin-medium right-margin-medium" aria-label="New Train" (click)="addTrain()">
            <mat-icon>add</mat-icon>
        </button>
    </div>
</mat-accordion>